<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <% var title = "Парусник «Мир»" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/>
    <link href="css/style.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<% var rewards = [
    {
        img_src: '2007_logoRegatta.gif',
        title: 'Tall Ships’ Races — 2007 Mediterranea'
    },
    {
        img_src: '',
        title: 'Welt Pokal regatta 2007'
    },
    {
        img_src: '2006_logoRegatta.gif',
        title: 'Tall Ships’ Races — 2006'
    },
    {
        img_src: '2005_logoRegatta.gif',
        title: 'Santander Tall Ships’ Regatta — 2005'
    },
    {
        img_src: '2005blue_logoRegatta.gif',
        title: 'Tall Ships’ Races — 2005'
    },
    {
        img_src: '2004_logoRegatta.gif',
        title: 'Tall Ships’ Races — 2004'
    },
    {
        img_src: '2003_logoRegatta.gif',
        title: 'Tall Ships’ Races — 2003'
    },
    {
        img_src: 'cuttySark2002_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 2002'
    },
    {
        img_src: 'cuttySark_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 2001'
    },
    {
        img_src: 'cuttySark_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 2000'
    },
    {
        img_src: 'cuttySark_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 98'
    },
    {
        img_src: 'cuttySark_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 97'
    },
    {
        img_src: 'cuttySark_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 96'
    },
    {
        img_src: 'cuttySark_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 93'
    },
    {
        img_src: '',
        title: 'STA Netherlands Feeder Race 1993'
    },
    {
        img_src: '',
        title: 'Grand regatta Columbus-500'
    },
    {
        img_src: 'cuttySark_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 91'
    },
    {
        img_src: '',
        title: 'The 7th Internationale Hochsee Race Der Deetadt Bremerhafen 1991'
    },
    {
        img_src: 'cuttySark_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 89'
    },
    {
        img_src: 'cuttySark_logoRegatta.gif',
        title: 'Cutty Sark Tall Ships’ Races — 88'
    },
];
var dates = [
    {
        title: 'Переход. Гамбург – Ларвик (8-14 мая 2016)',
        list: [
            'Стоянка в Гамбурге  – 8-9 мая 2016 года',
            'Выход из Гамбурга – 10 мая 2016 года',
            'Морской переход Гамбург – Ларвик – 5 дней',
            'Приход в Ларвик – 14 мая',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест - 12',
        ]
    },
    {
        title: 'Переход. Ларвик  - Порт №1 (15-21 мая 2016 года)',
        list: [
            'Стоянка в Ларвике – 15-16 мая 2016 года',
            'Выход из Ларвика  - 17 мая 2016 года',
            'Морской переход Ларвик – Порт №1 – 5 дней',
            'Приход в Порт №1 – 21 мая 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
    {
        title: 'Переход. Порт №1 – Порт №2 (22-28 мая 2016 года)',
        list: [
            'Стоянка в Порт №1 – 22-23 мая 2016 года',
            'Выход из Порт №1  - 24 мая 2016 года',
            'Морской переход Порт №1 – Порт №2 – 5 дней',
            'Приход в Порт №2 – 28 мая 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
    {
        title: 'Переход. Порт №2 – Санкт-Петербург (29 мая-4 июня 2016 года)',
        list: [
            'Стоянка в Порт №2 – 29-30 мая 2016 года',
            'Выход из Порт №1  - 31 мая 2016 года',
            'Морской переход Порт №2 – Санкт-Петербург – 5 дней',
            'Приход в Санкт-Петербург – 4 июня 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
    {
        title: 'Переход. Санкт-Петербург – Делфзейл (21-29 июня 2016 года)',
        list: [
            'Стоянка в Санкт-Петербург – (04)-20 июня 2016 года',
            'Выход из Санкт-Петербурга  - 21 июня 2016 года',
            'Морской переход Санкт-Петербург - Делфзейл – 5 дней',
            'Приход в Делфзейл – 29 июня 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
    {
        title: 'Переход. Делфзейл - Антверпен (01-07 июля 2016 года)',
        list: [
            'Стоянка в Делфзейле – 29-02 июня 2016 года',
            'Выход из Делфзейла  - 03 июля 2016 года',
            'Морской переход  Делфзейл – Антверпен  – 5 дней',
            'Приход в Антверпен – 7 июля 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
    {
        title: 'Переход. Антверпен – Лиссабон (10-22 июля 2016 года)',
        list: [
            'Стоянка в Антверпене – 07-09 июля 2016 года',
            'Выход из Антверпена  - 10 июля 2016 года',
            'Морской переход Антверпен - Лиссабон  – 5 дней',
            'Приход в Лиссабон – 22 июля 2016 года',
            'Продолжительность – 13 дней',
            'Стоимость – 1850 евро',
            'Количество мест – 12',

        ]
    },
    {
        title: 'Переход. Лиссабон - Кадис (25-31 июля 2016 года)',
        list: [
            'Стоянка в Лиссабоне – 22-24 июля 2016 года',
            'Выход из Лиссабона  - 25 июля 2016 года',
            'Морской переход Лиссабон - Кадис  – 5 дней',
            'Приход в Кадис – 31 июля 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
    {
        title: 'Переход. Кадис - Барселона (01-07 августа 2016 года) ',
        list: [
            'Стоянка в Кадисе – 31 июля – 02 августа 2016 года',
            'Выход из Кадиса  - 03 августа 2016 года',
            'Морской переход Кадис - Барселона  – 5 дней',
            'Приход в Барселону – 07 августа 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
    {
        title: 'Переход. Барселона – Сардиния, либо Кипр (12-18 августа 2016 года)',
        list: [
            'Стоянка в Барселоне – 07-12 августа 2016 года',
            'Выход из Барселоны  - 13 августа 2016 года',
            'Морской переход Барселона – Сардиния, либо Кипр  – 5 дней',
            'Приход на Сардинию, либо Кипр – 17 августа 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
    {
        title: 'Переход. Сардиния, либо Кипр – Афон (20-26 августа 2016 года) ',
        list: [
            'Стоянка на Кипре, либо Кипре – 17-20 августа 2016 года',
            'Выход с Сардинии, либо Кипра - 21 августа 2016 года',
            'Морской переход Сардиния, либо Кипр - Афон  – 5 дней',
            'Приход в Афон – 25 августа 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
    {
        title: 'Переход. Афон - Константа (29 - августа 2016 года)',
        list: [
            'Стоянка в Афоне – 25-28 августа 2016 года',
            'Выход из Афона - 29 августа 2016 года',
            'Морской переход Афон - Константа  – 5 дней',
            'Приход на Константу – 08 сентября 2016 года',
            'Продолжительность – 11 дней',
            'Стоимость – 1650 евро',
            'Количество мест – 12',

        ]
    },
    {
        title: 'Переход. Константа - Новороссийск (10 -16 сентября 2016 года)',
        list: [
            'Стоянка в Константе – 08-10 сентября 2016 года',
            'Выход из Константы - 11 сентября 2016 года',
            'Морской переход Константа - Новороссийск  – 6 дней',
            'Приход на Новороссийск – 16 сентября 2016 года',
            'Продолжительность – 7 дней',
            'Стоимость – 1050 евро',
            'Количество мест – 12',
        ]
    },
]; %>

<body data-spy="scroll" data-target="#navbar">
<div class="navbar-wrapper">
    <nav class="navbar nav-tabs navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-2x"></i>
                </button>
                <a class="navbar-brand text-capitalize" href="#"><%= title %></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#intro">Домой</a></li>
                    <li><a href="#about">О регате</a></li>
                    <li><a href="#tour">Этапы и порты</a></li>
                    <li><a href="#list">Список судов</a></li>
                    <li><a href="#info">Общая информация</a></li>
                    <li><a href="#map-section">Как нас найти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<header class="intro" id="intro">
    <div class="intro-wrapper">
        <div class="container text-center">
            <div class="col-xs-12">
                <img src="img/logo.png" alt="Контурбалт" class="logo">
            </div>
            <h1 class="text-center">Стань частью команды самого быстрого парусника в мире<br/>
                и прими участие в самой известной регате Tall Ships Races!</h1>

            <h2 class="text-center">Стоимость участия от 1000 евро</h2>
            <button class="btn btn-default-lg" role="button" data-toggle="modal"
                    data-target="#contactUsModal">Стать частью легенды!
            </button>
        </div>
    </div>
</header>

<main role="main">
    <section class="white" id="about">
        <div class="container text-center">
            <h1 class="text-uppercase">О регате</h1>
            <hr class="subtitle-divider"/>
            <p class="text-left">
                Присоединяйтесь к приключениям!<br/><br/>
                У Вас появилась уникальная возможность стать частью команды самого быстрого парусника в мире и принять
                участие в гонке больших учебных судов, ведущей свое начало с 1956 года.<br/><br/>
                Парусник «Мир» - это обладатель призов престижных регат "Cutty Sark Tall Ship's Races", "International
                Hochsee Race Seestadt" и "Grand Regatta Columbus‑92". На протяжении длинной истории регат «Мир»
                единственное судно класса «А», которое дважды становилось абсолютным победителем.<br/><br/>
                Tall Ships Races – это фестиваль парусных судов со всего света, настоящее веселье с парадом всех
                участников, коих ежегодно больше сотни, концертами и соревнованиями.<br/><br/>
                Выбирайте отрезок и присоединяйтесь к команде!<br/><br/>
            </p>

            <h3>The Tall Ships Races Bergen 2014</h3>

            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FHHo91Ky8Zo" frameborder="0"
                        allowfullscreen></iframe>
            </div>

            <button class="btn btn-default-lg" role="button" data-toggle="modal"
                    data-target="#contactUsModal">Хочу в команду
            </button>
        </div>
    </section>

    <section class="text-center" id="tour">
        <h1>Выбрать дату и отрезок</h1>
        <hr class="subtitle-divider"/>

        <section class="cd-container" id="cd-timeline">

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-belgium"></div>
            </div>

            <div class="cd-timeline-block">

                <div class="cd-timeline-content">
                    <h2>Бельгия, Антверпен - Португалия, Лисабон</h2>

                    <ul class="list-unstyled text-center">
                        <li>Стоянка в Антверпене – 07-09 июля 2016 года</li>
                        <li>Выход из Антверпена - 10 июля 2016 года</li>
                        <li>Морской переход Антверпен - Лиссабон – 5 дней</li>
                        <li>Приход в Лиссабон – 22 июля 2016 года</li>
                        <li>Продолжительность – 13 дней</li>
                        <li>Стоимость – 1850 евро</li>
                        <li>Количество мест – 12</li>
                    </ul>
                    <a href="http://www.sailtraininginternational.org/events/2016-the-tall-ships-races/antwerp"
                       class="cd-read-more">Узнать больше</a>
                    <span class="cd-date">с 7 по 10 Июля</span>
                </div>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-portugal"></div>
            </div>

            <div class="cd-timeline-block">

                <div class="cd-timeline-content">
                    <h2>Португалия, Лисабон - Испания, Кадиз</h2>

                    <ul class="list-unstyled text-center">
                        <li>Стоянка в Лиссабоне – 22-24 июля 2016 года</li>
                        <li>Выход из Лиссабона - 25 июля 2016 года</li>
                        <li>Морской переход Лиссабон - Кадис – 5 дней</li>
                        <li>Приход в Кадис – 31 июля 2016 года</li>
                        <li>Продолжительность – 7 дней</li>
                        <li>Стоимость – 1050 евро</li>
                        <li>Количество мест – 12</li>
                    </ul>
                    <a href="http://www.sailtraininginternational.org/events/2016-the-tall-ships-races/lisbon/"
                       class="cd-read-more">Узнать больше</a>
                    <span class="cd-date">с 22 по 25 Июля</span>
                </div>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-spain"></div>
            </div>
        </section>
        <section class="cd-container" id="cd-timeline2">

            <div class="cd-timeline-block">
                <div class="cd-timeline-content">
                    <h2>Испания, Кадиз - Испания, Ла&#8209;Корунья</h2>

                    <p></p>
                    <a href="http://www.sailtraininginternational.org/events/2016-the-tall-ships-races/cadiz"
                       class="cd-read-more">Узнать больше</a>
                    <span class="cd-date">с 28 по 31 Июля</span>
                </div>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-spain"></div>
            </div>
        </section>
        <div class="text-center">
            <a class="btn btn-default-lg" role="button" href="#dates">Другие маршруты
            </a>
        </div>
    </section>

    <section class="white" id="schema">
        <div class="container text-center">
            <div class="row text-left">
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6">
                    <h1>В стоимость входит:</h1>
                    <ul class="list-unstyled okay">
                        <li>Базовый курс матроса</li>
                        <li>Проживание на борту судна в кубрике на время перехода и стоянки</li>
                        <li>Флотское трех разовое питание</li>
                        <li>Участие в этапе регаты Tall Ship Race в составе экипажа</li>
                        <li>Участие в «Параде Парусов»</li>
                        <li>Участие в береговых фестивалях начала и окончания этапа</li>
                        <li>Медицинское обслуживание на борту (судовой врач)</li>
                    </ul>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6">
                    <h2>В стоимость не входит:</h2>
                    <ul class="list-unstyled none">
                        <li>Авиаперелет</li>
                        <li>Трансферы</li>
                        <li>Страхование на время путешествия</li>
                        <li>Виза</li>
                    </ul>
                </div>
            </div>
            <p>Каждый участник должен быть в состоянии проплыть минимум 15 минут, не касаясь дна.</p>

            <p>При необходимости мы делаем визовую, страховую и логистическую поддержку, <br/>
                планируя Ваше путешествие с места вашего проживания.<br/><br/>
                Присоединяйся к нашему экипажу!</p>
            <button class="btn btn-default-lg" role="button" data-toggle="modal"
                    data-target="#contactUsModal">Оставить заявку
            </button>
        </div>
    </section>

    <section class="gray" id="list">
        <div class="container">
            <h1 class="text-uppercase text-center">Список зарегистрирированных судов<br/>
                на The&nbsp;Tall Ships Races 2016</h1>
            <hr class="subtitle-divider"/>

            <ol>
                <li>Александр Гумбольдт - Германия | Класс&nbsp;А</li>
                <li>Atyla - Нидерланды | Класс&nbsp;B</li>
                <li>Balaena - Польша | Класс&nbsp;C</li>
                <li>Black Diamond Darem - Великобритания | Класс&nbsp;C</li>
                <li>Кристиан Радич - Норвегия | Класс&nbsp;A</li>
                <li>Jolie Brise - Великобритания | Класс&nbsp;B</li>
                <li>Хуан де Лангара - Испания | Класс&nbsp;C</li>
                <li>Лорд Нельсон - Великобритания | Класс&nbsp;A</li>
                <li>Мaybe - Великобритания | Класс&nbsp;B</li>
                <li>Morgenster - Нидерланды | Класс&nbsp;A</li>
                <li>Morning Star of Revelation - Великобритания | Класс&nbsp;B</li>
                <li>Pelican of London - Великобритания | Класс&nbsp;A</li>
                <li>Политехника - Польша | Класс&nbsp;D</li>
                <li>Rupel - Бельгия | Класс&nbsp;B</li>
                <li>Rzeszowiak - Польша | Класс&nbsp;C</li>
                <li>Spaniel - Латвия | Класс&nbsp;C</li>
                <li>ST IV - Эстония | Класс&nbsp;C</li>
                <li>Statsraad Lehmkuhl - Норвегия | Класс&nbsp;A</li>
                <li>Tomidi - Бельгия | Класс&nbsp;D</li>
                <li>Вера-Крус - Португалия | Класс&nbsp;B</li>
            </ol>
        </div>

    </section>

    <section class="white" id="info">
        <div class="container text-center">
            <h1 class="text-uppercase text-center">Общая информация</h1>
            <hr class="subtitle-divider"/>
            <h2>Основные ТТХ парусника <i class="fa fa-angle-double-left"></i>Мир<i
                        class="fa fa-angle-double-right"></i>
                <a class="pull-right" role="button" data-toggle="collapse" href="#collapseTth"
                   aria-expanded="false" aria-controls="collapseTth">показать</a>
            </h2>

            <div class="collapse" id="collapseTth">
                <ul class="list-tth">
                    <li>
                        Порт приписки Санкт-Петербург
                    </li>
                    <li>
                        Дата постройки 26-11-1987
                    </li>
                    <li>
                        Длина наибольшая (с бушпритом) — 109,6 м
                    </li>
                    <li>
                        Порожнее водоизмещение — 2247,3 т,
                    </li>
                    <li>
                        Дедвейт — 761 т
                    </li>
                    <li>
                        Высота грот мачты — 49,5 м
                    </li>
                    <li>
                        Площадь парусов — 2771 м²
                    </li>
                    <li>
                        Место постройки: Гданьская судоверфь
                    </li>
                    <li>
                        Главный конструктор: Зигмунд Хорен
                    </li>
                </ul>
            </div>

            <section id="reward_list" class="bounce-inInverse">
                <h2>Награды
                    <a class="pull-right" role="button" data-toggle="collapse" href="#collapseReward"
                       aria-expanded="false" aria-controls="collapseReward">показать</a>
                </h2>

                <div class="collapse" id="collapseReward">
                    <div class="reward_list">
                        <% rewards.forEach(function(item){ %>
                        <article class="reward_item">
                            <img alt="" src="img/reward/<%= item.img_src || 'default.png' %>" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>
                                <%= item.title %>
                                <i class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <% }); %>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <section class="gray" id="dates">
        <div class="container text-center" id="collapseDates">
            <h1>Даты</h1>
            <hr class="subtitle-divider"/>

            <ol class="text-left">
                <% var dates_i = 0; dates.forEach(function (item) { %>
                <li>
                    <% dates_i++; %>
                    <%= item.title %>
                    <a class="pull-right" role="button" data-toggle="collapse" href="#collapseDate_<%= dates_i; %>"
                       aria-expanded="false" aria-controls="collapseDate_<%= dates_i; %>">показать</a>
                    <ul class="collapse text-left" id="collapseDate_<%= dates_i++ %>">
                        <% item.list.forEach(function (li){ %>
                        <li><%= li %></li>
                        <% }) %>
                    </ul>
                </li>
                <% }) %>
            </ol>
        </div>
    </section>

    <section class="white">
        <div class="container text-center">
            <h1 class="text-uppercase text-center">Виртуальный тур по паруснику</h1>
            <hr class="subtitle-divider"/>
            <button id="toggleVirtualShip" class="btn btn-default-lg" role="button">Осмотреть парусник</button>
        </div>
        <iframe src="about:blank" style="display:none;" frameborder="0" width="100%" height="400" id="virtualShip"
                data-src="http://www.tallshipmir.com/flash/pixiq_bark_mir.html"></iframe>

    </section>

    <section class="map white" id="map-section">
        <div class="col-xs-12" style="height:400px">
            <div id="map" style="width: 100%; height: 100%;"></div>
        </div>
    </section>
</main>

<footer>
    <div class="footer-wrapper">
        <div class="container">
            <ul class="list-inline text-center footer-list">
                <li class="col-xs-12 col-sm-3">
                    <span class="fa fa-phone fa-4x"></span>
                    <address>
                        <p><strong>Телефон:</strong><br/>
                            +7 (812) 339-61-19 <br/>
                            +7 (921) 589-50-21
                        </p>
                    </address>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <span class="fa fa-envelope fa-4x"></span>
                    <address>
                        <p><strong>Почта:</strong><br/>
                            tchaykun@konturbalt.ru
                        </p>
                    </address>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <span class="fa fa-map-marker fa-4x"></span>
                    <address>
                        <p><strong>Наш адрес:</strong><br/>
                            Санкт-Петербург, В.О. 9-линия 34,<br/>
                            БЦ «Магнус», офис 201.
                        </p>
                    </address>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <ul class="list-inline footer-social-list">
                        <li>
                            <a href="https://vk.com/club27476985">
                                <img src="img/social-icons/vk.png" alt="Вконтакте" height="50"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/groups/350467235023990/">
                                <img src="img/social-icons/facebook.png" alt="Facebook" height="50"/>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="col-xs-12">© <%= new Date().getFullYear() %> <%= title %></p>
        </div>
    </div>
</footer>

<div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contactUsModal">
    <div class="modal-dialog">
        <div class="modal-content contact">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center contact-title">Оставьте заявку</h4>
            </div>
            <div class="modal-body text-center">
                <form id="contact" action="" method="post">
                    <fieldset>
                        <label for="inputName"></label>
                        <input type="text" id="inputName" placeholder="Имя*" tabindex="1" autofocus required/>
                    </fieldset>
                    <fieldset>
                        <label for="inputTel"></label>
                        <input type="tel" id="inputTel" placeholder="Телефон*" tabindex="4"
                               pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required/>
                    </fieldset>
                    <button type="submit" id="inputSubmit" data-loading-text="Отправляется"
                            class="btn btn-default-lg">Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter34841190 = new Ya.Metrika({ id:34841190, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/34841190" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
<script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script src="js/main.min.js"></script>
</body>
</html>